* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  font-size: 62,5%;
}

/* ESTILIZACAO HEADER*/
/*--------------------------------*/

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: #8E0E08;
  font-size: 62,5%;
}

header .menu {
  font-family: 'Amatic SC';
  color: #DBDAD2;
  padding: 4%;
  display: flex;
  justify-content: space-between;
}

header .menu .titulo {
  font-size: 1.5rem;
  width: 20%;
  height: 10vh;
}

header .menu .navegacao {
  display: flex;    
  flex-direction: row;
  height: 6vh;
  width: 50%; 
  justify-content: space-evenly;
}

header .menu ul {
  padding: 0px;
  margin: 0px;
  list-style:none;
}

header .menu .referencia, .principal {
  font-size: 2rem;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

header .menu a {
  text-decoration: none;
  color: #DBDAD2;
}

header .menu  a:hover {
  color: #6D6D6D;
}

header .redesSociais {
  display: grid;
  position: absolute;
  top: 33%;
  margin: 6%;
}

header .redesSociais .social {
  height: 6vh;
  width: 6wh;
  padding: 1%;
}

header .main {
  display: flex;
  align-self: center;
  align-self: center;
}

header .main .logo {
  justify-items: center;
  display: grid;
  grid-area: span;
  height: 60vh;
  width: 30vw;
}

header .main .logo img {
  width: auto;
  height: auto;
}

/* ESTILIZACAO SOBRE */
/*--------------------------------*/

body #about {
  display: flex;
  background: #292929;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

body #about .titulos{
  font-family: 'Amatic SC';
  color: #DBDAD2;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

body #about .tituloSobre {
  font-size: 2.2rem;
}

body #about .subtituloSobre {
  font-size: 1.5rem;
}

body .centro {
  font-family: 'Roboto';
  color: #DBDAD2;
  display: flex;
}

body .paragraph {
  font-size: 1.6rem;
  line-height: 200%;
  flex: 1;
  padding: 5%;
  width: 30vw;
}

body .centro .portrait{
  height: 60vh;
  flex: 0.8;
  display: flex;
  justify-content: right;
}

body .centro .portrait img{
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
  border-radius: 50%;
  align-self: center;
}

/* ESTILIZACAO CONTEUDO */
/*--------------------------------*/
  @import url(https://fonts.googleapis.com/css?family=Varela+Round);
  
  body #div-slider {
        font-family: 'Amatic SC';
        background: #8E0E08;
        width: auto;
        height: 85vh;
        color: #DBDAD2;
        padding: 4%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    body #div-slider .titulos {
        font-size: 2.2rem;
    }
    
    body #div-slider .slides-front {
        padding: 0;
        width: 980px;
        height: 370px;
        display: block;
        margin: auto;
        position: relative;
        margin-top: 30px;
    }
    
    body #div-slider .slides-front * {
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
    
    body #div-slider .slides-front input {
        display: none;
    }
    
    body #div-slider .slide-container {
        display: block;
    }
    
    body #div-slider .slide {
        top: 0;
        opacity: 0;
        width: 980px;
        height: 300px;
        display: block;
        position: absolute;
        transform: scale(0);
        transition: all .7s ease-in-out 0.1s;
    }
    
    body #div-slider .slide iframe {
        /* -----------*/
        border-style: solid;
        padding: 4%;
        border: 5px solid;
        border-color: #DBDAD2;
    }
    
    body #div-slider .nav label {
        width: 150px;
        height: 100%;
        display: none;
        position: absolute;
        opacity: 0;
        z-index: 9;
        cursor: pointer;
        transition: opacity .2s;
        color: #DBDAD2;
        font-size: 56pt;
        text-align: center;
        line-height: 380px;
        font-family: "Varela Round", sans-serif;
        background-color: rgba(255, 255, 255, .3);
        text-shadow: 0px 0px 15px rgb(119, 119, 119);
    }
    
    body #div-slider .slide:hover+.nav label {
        opacity: 0.5;
    }
    
    body #div-slider .nav label:hover {
        opacity: 1;
    }
    
    body #div-slider .nav .next {
        right: 0;
        height: 0px;
    }
    
    body #div-slider .nav .prev {
        height: 0px;
    }
    
    body #div-slider input:checked+.slide-container .slide {
        opacity: 1;
        transform: scale(1);
        transition: opacity 1s ease-in-out 0.1s;
    }
    
    body #div-slider input:checked+.slide-container .nav label {
        display: block;
    }
    
    body #div-slider .nav-dots {
        width: 100%;
        bottom: 9px;
        height: 11px;
        display: block;
        position: relative;
        text-align: center;
        padding-top: 30px;
    }
    
    body #div-slider .nav-dots .nav-dot {
        top: 400px;
        width: 11px;
        height: 11px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    body #div-slider .nav-dots .nav-dot:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    body #div-slider input#img-1:checked~.nav-dots label#img-dot-1,
    input#img-2:checked~.nav-dots label#img-dot-2,
    input#img-3:checked~.nav-dots label#img-dot-3
    {
        background: rgba(0, 0, 0, 0.8);
    }

/* ESTILIZACAO PRODUTOS */
/*--------------------------------*/

body #company {
  background: #000000;
  width: auto;
  height: 85vh;
  justify-items: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  padding: 4%;
}

body #company .titulos{
  font-family: 'Amatic SC';
  color: #DBDAD2;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

body #company .tituloProdutos {
  font-size: 2.2rem;
}

body #company .subtituloProdutos {
  font-size: 2.2rem;
}

body #company .products {
  justify-items: center;
  display: grid;
  grid-area: span;
  margin-top: 50px;
}

body #company img {
  max-width: 100%;
  max-height: 800px;
  width: auto;
  height: auto;
}

/* ESTILIZACAO GALERIA */
/*--------------------------------*/

body #gallery {
  background: #DD9F80;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

body #gallery .galeriaTitulo h1 {
  font-family: 'Amatic SC';
  color: #DBDAD2;
  padding: 4%;
  justify-self: left;
  width: 60%;
  font-size: 3rem;
  background: #DD9F80;
}

body #gallery .listaGaleria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: center;
  width: 75%;
  border-style: solid;
  padding: 2%;
  border: 5px solid;
  border-color: #DBDAD2;
  justify-items: center;
  list-style-type: none;
  margin-bottom: 4%;
}

body #gallery .listaGaleria .itemGaleria {
  padding: 8%;
}

body #gallery .listaGaleria img {
  width: 100%;
  height: 100%;
}

/*ESTILIZACAO CONTATO*/
/*--------------------------------*/

body #submit {
  font-family: 'Amatic SC';
  display: grid;
  justify-self: center;
  justify-items: center;
  background: #292929;
  width: auto;
  height: 100vh;
  color: #DBDAD2;
}

body .titulosSubmit {
  display: grid;
  margin-top: 50px;
}

body .titulosSubmit h1 {
  color: #DBDAD2;
  font-family: 'Segoe UI', 'serif';
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Amatic SC';
}

body .camposSubmit {
  width: 60%;
  height: 50%;
  display: grid;
}

body .tituloCampos {
  justify-self: left;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 1vh;
  font-family: 'Roboto', 'serif';
}

body #submit .NOME,
.EMAIL,
.TELEFONE,
.DESCRICAO {
  border: none;
  width: 100%;
  height: 6vh;
  font-size: 2rem;
  background-color: #DBDAD2;
  margin-bottom: 3vh;
}

body #submit button {
  cursor: pointer;
  width: 200px;
  height: 40px;
  background: none;
  border: 2px solid #DBDAD2;
  font-size: 30px;
  font-family: 'Amatic SC';
  color: #DBDAD2;
}

body #submit button:hover {
  background: #a9a9a9;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;
}

/*ESTILIZACAO FOOTER*/
/*--------------------------------*/

footer .rodape {
  background: #8E0E08;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  color: #DBDAD2;
}

footer .left {
  width: 50%;
  margin-top: 50px;
  padding-left: 12%;
  color: #DBDAD2;
}

footer .right {
  width: 30%;
  margin-top: 50px;
  padding-right: 12%;
  color: #DBDAD2;
  margin-bottom: 30px;
}

footer .rodape h1 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 1%;
  color: #DBDAD2;
}

footer .rodape p {
  font-family: 'Roboto';
  font-size: 18px;
  color: #DBDAD2;
  margin-bottom: 3px;
}

footer .right a {
  font-family: 'Roboto';
  font-size: 18px;
  color: #DBDAD2;
  margin-bottom: 3px;
  text-decoration: none;
}

/*--------------------------------*/
/*--------------------------------*/
/* RESPONSIVIDADE A 900px*/
/*--------------------------------*/
/*--------------------------------*/

@media screen and (max-width: 900px) {

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA INICIAL*/
    /*--------------------------------*/
      
      header .menu .titulo {
          font-size: 1.3rem;
      }
    
      header .menu .navegacao {
          width: 50%;     
          height: 6vh;
          position: relative;
          display: inline-block;
      }
      
      header .menu .referencia {
          font-size: 1.9rem;
          height: 8vh;
      }
      
      header .main .logo {
          width: 60wh;
          height: 60vh;
          align-self: center;
          /*background: pink;*/
      }

      header .menu .navegacao {
        display: none;
      }
    
      header .menu .drop-down {
        display: flex;    
        flex-direction: row;
        height: 6vh;
        width: 50%; 
        justify-content: space-evenly;
      }
    

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA SOBRE*/
    /*--------------------------------*/
      
    body .paragraph {
      font-size: 1.4rem;
    }

    body #about .centro .portrait img{
        max-width: 250px;
        max-height: 250px;
        width: auto;
        height: auto;
        align-self: center;
    }

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA CONTEUDO*/
    /*--------------------------------*/
   
    body #div-slider .slides-front {
      width: 100%;
    }

    body #div-slider .slide-container {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
  }

    body #div-slider .slide {
      width: 500px;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
    }
}

/*--------------------------------*/
/*--------------------------------*/
/* RESPONSIVIDADE A 769px*/
/*--------------------------------*/
/*--------------------------------*/

@media screen and (max-width: 769px) {
  
    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA INICIAL*/
    /*--------------------------------*/
    
    header .menu .titulo {
        font-size: 1rem;
        width: 20%;
        height: 10vh;
    }
    
    header .menu .navegacao {
        width: 50%;    
        height: 6vh;
    }
    
    header .menu .referencia {
        font-size: 0.8rem;
        height: 8vh;     
    }
    
    header .main .logo {
        width: 200px;
        height: 200px;
        align-self: center;
    }   

    header .menu .navegacao {
      display: 	flex;
    }

    header .menu .drop-down {
      display: flex;    
      flex-direction: row;
      height: 6vh;
      width: 50%; 
      justify-content: space-evenly;
    }

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA SOBRE*/
    /*--------------------------------*/

    body #about {
      height: 100%;
    }

    body #about .centro {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    body .paragraph {
        align-self: center;
        text-align: center;
        width: 55vw;
    }

    body .centro .portrait {
        display: flex;
        align-self: center;
        padding: 2%;
    }

    body .centro .portrait img {
        max-width: 250px;
        max-height: 250px;
        width: auto;
        height: auto;
    }

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA PRODUTOS*/
    /*--------------------------------*/

    body #company {
      height: 60vh;
    }

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA CONTEUDO*/
    /*--------------------------------*/
    
    body #div-slider .slide {
      width: 600px;
      height: 400px;
    }

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA CONTATO*/
    /*--------------------------------*/

    body #submit {
      height: 100%;
    }

    body #submit button {
      margin-bottom: 20%;
    }
}

/*--------------------------------*/
/*--------------------------------*/
/* RESPONSIVIDADE A 480px*/
/*--------------------------------*/
/*--------------------------------*/

@media screen and (max-width: 480px) {
    
    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA INICIAL*/
    /*--------------------------------*/

      header {
          display: flex;
          flex-direction: column;
          height: 100vh;
          width: 100%;
          background: #8E0E08;
      }
      
      header .menu {
          color: #DBDAD2;
          padding: 4%;
          display: flex;
          text-decoration: none;
          /*background:  white;*/
          font-family: 'Amatic SC';
          justify-content: space-between;
      }
      
      header .menu .titulo {
          color: #DBDAD2;
          font-size: 0.8rem;
          text-transform: uppercase;
          /*background: navy;*/
          width: 20%;
          height: 10vh;
      }
      
      header .menu .navegacao {
          width: 50%;    
          height: 6vh;
          text-decoration: none;
          /*background: orange;*/
          display: inline-block;
          position: right;
          display: block;
          text-align: right;
      }
      
      header .menu .referencia {
          font-size: 0.6rem;
          text-decoration: none;
          cursor: pointer;
          /*background: black;*/
          height: 8vh;
          
      }
  
      header .menu a{
          text-decoration: none;
          color: #DBDAD2;
      }
      
      header .redesSociais {
          display: grid;
          position: absolute;
          top: 33%;
          margin: 6%;
          /*background: yellow;*/
      }
      
      header .redesSociais .social {
          height: 6vh;
          width: 6wh;
          padding: 1%;
      }
      
      header .main {
          display: flex;
          /*background: green;*/
          justify-content: center;
          align-self: center;
      }
      
      header .main .logo {
          width: 200px;
          height: 200px;
          align-self: center;
          /*background: pink;*/
      }   

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA SOBRE*/
    /*--------------------------------*/

    body #about .tituloSobre {
      font-size: 1.5rem;
    }
    
    body #about .subtituloSobre {
      font-size: 1.3rem;
    }

    body #about .paragraph {
      font-size: 1.2rem;
    }

    body #about .centro .portrait img {
      max-width: 200px;
      max-height: 200px;
    }       

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA CONTEUDO*/
    /*--------------------------------*/
    
    body #div-slider .titulos {
      font-size: 1.5rem;
    }

    body #div-slider .slide {
      width: 300px;
      height: 200px;
    }

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA PRODUTOS*/
    /*--------------------------------*/

    body #company {
      height: 40vh;
    }
    
    body #company .tituloProdutos {
      font-size: 1.5rem;
    }
    
    body #company .subtituloProdutos {
      font-size: 1.3rem;
    }

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA GALERIA*/
    /*--------------------------------*/

    body #gallery .listaGaleria {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    body #gallery .galeriaTitulo h1 {
      font-size: 2.2rem;
      width: 100%;
    }

    /*--------------------------------*/
    /* RESPONSIVIDADE DA PAGINA CONTATO*/
    /*--------------------------------*/

    body #submit .titulosSubmit h1 {
      font-size: 2.2rem;
    }
    
    body #submit button {
      width: 150px; 
    }

    /*--------------------------------*/
    /* RESPONSIVIDADE DO FOOTER*/
    /*--------------------------------*/

    footer .rodape h1 {
      font-size: 1.3rem;
    }
    footer .rodape p {
      font-size: 0.8rem;
    }
    
    footer .right a {
      font-size: 0.8rem;
    }
  }